@page "/fetchdata"
@using GoToBible.Model
@inject HttpClient Http

<h1>Translations</h1>

<p>This component demonstrates the available translations.</p>

@if (translations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Provider</th>
                <th>Name</th>
                <th>Language</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var translation in translations)
            {
                <tr>
                    <td>@translation.Provider</td>
                    <td>@translation.Name</td>
                    <td>@translation.Language</td>
                    <td>@translation.Year</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Translation[] translations = Array.Empty<Translation>();

    protected override async Task OnInitializedAsync()
    {
        this.translations = await this.Http.GetFromJsonAsync<Translation[]>("Translations") ?? Array.Empty<Translation>();
    }

}
