.top-row {
    height: 3.5rem;
}

@media (max-width: 991.98px) { /* Medium and Below */
    .navbar .input-group {
        width: 100%;
    }
}

@media (min-width: 992px) { /* Large and Above */
    .navbar .input-group {
        width: 250px;
    }
}
