<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GoToBible.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <GoToBible.Windows.Properties.Settings>
      <setting name="Passage" serializeAs="String">
        <value>John 3:16</value>
      </setting>
      <setting name="PrimaryTranslation" serializeAs="String">
        <value>NET</value>
      </setting>
      <setting name="SecondaryTranslation" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>900, 450</value>
      </setting>
      <setting name="Font" serializeAs="String">
        <value />
      </setting>
      <setting name="RenderItalics" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackgroundColour" serializeAs="String">
        <value>16777215</value>
      </setting>
      <setting name="ForegroundColour" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BackgroundCustomColours" serializeAs="String">
        <value />
      </setting>
      <setting name="InterlinearIgnoresCase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InterlinearIgnoresDiacritics" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InterlinearIgnoresPunctuation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BibleApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="EsvApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="BibliaApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="SqlConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="DigitalBiblePlatformApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="NltApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Resource" serializeAs="String">
        <value />
      </setting>
      <setting name="SplitterDistance" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsDebug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HighlightCustomColours" serializeAs="String">
        <value />
      </setting>
      <setting name="HighlightColour" serializeAs="String">
        <value>65535</value>
      </setting>
      <setting name="IsDeveloper" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsLegacyBrowser" serializeAs="String">
        <value>False</value>
      </setting>
    </GoToBible.Windows.Properties.Settings>
  </userSettings>
</configuration>
